<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Blog</title>
</head>

<body>
    <%- include('./partials/nav') %>

        <div class="container mt-3">
            <h1>
                <%= blog.title %>
            </h1>
            <img class="rounded" width="500px" src="<%= blog.coverImageURL %>" alt="<%= blog.filename %>">
            <p class="mt-3">
                <%= blog.body %>
            </p>
        </div>

        <div class="container mt-4">
            <img src="<%= blog.createdBy.profilePicURL %>" width="50px" alt="Profile Picture">
            <%= blog.createdBy.fullName %>
        </div>

        <div class="container mt-3">
            <h3>Comments (<%= comments.length %>)</h3>

            <% if (locals.user) { %>
                <form action="/blog/comment/<%= blog._id %>" method="POST">
                    <div class="mb-3">
                        <input type="text" name="content" class="form-control" placeholder="Enter your comment">
                    </div>
                    <button class="btn btn-sm btn-primary" type="submit">Add</button>
                </form>
                <% } %>

                    <div class="mt-3">
                        <% comments.forEach(comment=> { %>
                            <div>
                                <img src="<%= comment.createdBy.profilePicURL %>" width="50px" alt="Profile picture">
                                <%= comment.createdBy.fullName %>
                                    <pre><%= comment.content %></pre>
                            </div>
                            <% }) %>
                    </div>

        </div>

        <%- include('./partials/script') %>

</body>

</html>